.editormd-toolbar {
	background-color: #ffffffbf;
}

.editormd-preview {
	background-color: #ffffff00;
	transition: all 0.5s ease;
}

.editormd-preview-container,
.editormd-html-preview {
	background-color: #ffffff00;
	transition: all 0.5s ease;
}

.editormd {
	border-radius: 16px;
	top: 0;
}

.editormd-menu>li>a {
	border: 1px solid #ffffff00;
}

.markdown-body {
	color: inherit;
}

.markdown-body h6 {
	color: inherit;
}

.editormd-preview-container abbr,
.editormd-html-preview abbr {
	color: #000
}

.editormd-preview-container p code,
.editormd-html-preview p code {
	color: #000
}

.editormd-preview-container blockquote,
.editormd-html-preview blockquote {
	color: inherit;
}

.markdown-body table {
	color: #000
}

/* .markdown-body a{

} */

/* 下面是供md调用 */
.mdbg {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: -6;
	pointer-events: none;
}